* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  height: 500px;
  width: 100%;
  display: block;
  object-fit: cover;
}

ion-icon {
  font-size: 90px;
  cursor: pointer;
  transition: all 0.1s ease;
}

ion-icon:active {
  transform: scale(1.05);
}

.images-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35% auto 15% auto;
}

.image-container {
  position: absolute;
  height: auto;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  display: none;
}

.image-container:first-of-type {
  display: block;
}

.img-options {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
